/* Importa la fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Usar la fuente en todo el sitio */
body, .container, .form, input, select, textarea, button, p {
    font-family: 'Poppins', sans-serif;
}

/* Estilos generales del modal */
.swal2-container {
    z-index: 9999; /* Asegura que el modal esté encima de otros elementos */
}

.swal2-popup {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000; /* Texto negro */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000; /* Borde negro */
}

/* Estilo del título del modal */
.swal2-title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #000000; /* Texto negro */
    padding: 0 20px;
}

/* Estilo del contenido del modal */
.swal2-content {
    color: #000000; /* Texto negro */
    padding: 0 20px;
}

/* Estilos de los botones */
.swal2-confirm {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #020202; /* Botón rojo */
    border: none;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.swal2-confirm:hover {
    background-color: #000000; /* Rojo más oscuro al hover */
    transform: translateY(-1px);
}

.swal2-cancel {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #000000; /* Fondo negro */
    border: none;
    color: #ffffff; /* Texto blanco */
    font-weight: 600;
    transition: all 0.3s ease;
}

.swal2-cancel:hover {
    background-color: #333333; /* Negro más claro al hover */
    transform: translateY(-1px);
}





