/* categoria.module.css */

.categoria-container {
    background: url('../images/vacabackground.jpg') no-repeat center center/cover; /* Fondo que cubre toda el área */
    min-height: 100vh;  /* Asegura que el fondo cubra toda la altura de la ventana */
    height: 100%;  /* Opción adicional para garantizar que se cubra toda la altura */
    
    display: flex;
    justify-content: center;
  
    flex-direction: column;
}
