/* categoria.module.css */

/* Título de la sección de categorías */
.categoryTitle {
    color: #003366; /* Color para el título */
    font-size: 24px;
    font-weight: bold;
}

/* Nombre de las categorías */
.categoryName {
    color: #0055a5; /* Color del nombre de la categoría */
    font-size: 18px;
}

/* Sección de filtro */
.filterSection {
    margin-bottom: 20px; /* Espaciado para separar el filtro de la lista */
}

.filterInput {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #f5f5f5; /* Color de fondo de la barra de filtro */
    color: #333; /* Color del texto en el filtro */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
}

.filterInput::placeholder {
    color: #888; /* Color del texto del placeholder */
}

.filterInput:focus {
    border-color: #0055a5; /* Color de borde cuando el filtro está en foco */
    background-color: #ffffff; /* Cambio de fondo cuando está en foco */
}

/* Botón de editar */
.edit-button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #005bb5;
}

/* Estilo para el popup de edición */
.edit-category {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.editInput {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; /* Separación entre el campo de texto y los botones */
    background-color: #f5f5f5; /* Color de fondo del campo de edición */
    color: #333; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
}

.editInput::placeholder {
    color: #888; /* Color del texto del placeholder */
}

.editInput:focus {
    border-color: #0055a5; /* Color de borde cuando el input de edición está en foco */
    background-color: #ffffff; /* Cambio de fondo cuando está en foco */
}

.update-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.update-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.cancel-button:hover {
    background-color: #c82333;
}

/* Estilo para el botón de eliminar */
.delete-button {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #da190b; /* Efecto hover */
}