/* Contenedor principal */
.higiene-container {
    background-color: #f4f6f8; /* Gris claro, estilo moderno de sistemas */
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }