body {
    font-family: 'Poppins', sans-serif; /* Aplicamos la fuente Poppins a todo el cuerpo */
    
}

.navbar {
    position: fixed; /* Fija la navbar en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    height: 9vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: space-between; /* Coloca el logo a la izquierda y los elementos a la derecha */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(50px); /* Efecto de desenfoque en el fondo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para el brillo */
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Patrón de ruido granulado */
    pointer-events: none; /* Evita que el granulado interfiera con la interacción del usuario */
    opacity: 0.5; /* Controla la intensidad del granulado */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-goval {
    height: 150px; /* Ajusta el tamaño según lo necesario */
    width: auto;
}

.nav-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: black; /* Cambiado a negro */
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 20px;
}

.user-welcome {
    font-size: 1em; /* Tamaño más pequeño para el nombre */
    margin-bottom: 0px;
}

.user-role {
    font-size: 0.9em;
    color: black; /* Cambiado a negro */
    margin-top: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1001;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav-menu ul {
        display: none;
        flex-direction: column;
        background-color: #003366;
        position: absolute;
        top: 9vh; /* Deja espacio para la navbar */
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-menu.activado ul {
        display: flex;
        background-color: #eef7ff;
        justify-content: center;
        padding: 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-menu.activado ul li {
        padding: 0;
        width: 100%;
        height: 60px;
    }

    .user-info {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
}



