/* Asegura que la tabla ocupe más espacio */
.table-container .tabulator {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    height: 100vh; /* Asegura que la tabla ocupe toda la altura de la pantalla */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    overflow: hidden; /* Oculta el desbordamiento de la tabla */
}

/* Contenedor que permite el desplazamiento de la tabla */
.table-container .tabulator .tabulator-table-holder {
    height: calc(100vh - 50px); /* Deja espacio para el encabezado o pie de página si es necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical cuando haya más filas que espacio disponible */
    display: block; /* Asegura que el contenedor sea un bloque para habilitar el scroll */
}

/* Estilo para las columnas */
.table-container .tabulator .tabulator-col {
    background-color: #003366; /* Color de fondo de las columnas */
    color: #fff; /* Color del texto en las columnas */
    font-size: 18px; /* Aumenta el tamaño de la fuente de las celdas */
    padding: 12px; /* Aumenta el espaciado dentro de las celdas */
}

/* Asegura que la tabla ocupe un mayor espacio */
.tabulator .tabulator-table {
    width: 100%;
    table-layout: fixed; /* Asegura que las columnas se distribuyan uniformemente */
    border-collapse: collapse; /* Evita que las celdas tengan espacios entre ellas */
}

/* Estilos para el pie de página de la tabla */
.tabulator .tabulator-footer .tabulator-page {
    background-color: #fff; /* Fondo blanco para la paginación */
    color: black; /* Color del texto */
    border: 1px solid #003366; /* Borde del pie de página */
    padding: 8px 16px; /* Espaciado más grande para los botones de la paginación */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 18px; /* Aumenta el tamaño de la fuente en el pie de página */
}

/* Estilo para la página activa en el pie de página */
.tabulator .tabulator-footer .tabulator-page.active {
    color: #E4332C; /* Resalta la página activa con un color rojo */
    font-weight: bold; /* Hace la fuente de la página activa más destacada */
}
